<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @waypoint.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @waypoint.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @waypoint.lng %>
</p>

<%= link_to 'Edit', edit_waypoint_path(@waypoint) %> |
<%= link_to 'Back', waypoints_path %>
